<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Manjari-Bold.ttf</string>
		<string>Manjari-Regular.ttf</string>
		<string>Manjari-Thin.ttf</string>
		<string>RockSalt-Regular.ttf</string>
		<string>Graphik-Black-App.ttf</string>
		<string>Graphik-Extralight-App.ttf</string>
		<string>Graphik-ThinItalic-App.ttf</string>
		<string>Graphik-ExtralightItalic-App.ttf</string>
		<string>Graphik-LightItalic-App.ttf</string>
		<string>Graphik-Medium-App.ttf</string>
		<string>Graphik-Thin-App.ttf</string>
		<string>Graphik-Regular-App.ttf</string>
		<string>Graphik-MediumItalic-App.ttf</string>
		<string>Graphik-RegularItalic-App.ttf</string>
		<string>Graphik-Semibold-App.ttf</string>
		<string>Graphik-Light-App.ttf</string>
		<string>Graphik-BoldItalic-App.ttf</string>
		<string>Graphik-SemiboldItalic-App.ttf</string>
		<string>Graphik-Super-App.ttf</string>
		<string>Graphik-Bold-App.ttf</string>
		<string>Graphik-SuperItalic-App.ttf</string>
		<string>Graphik-BlackItalic-App.ttf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
